<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <!-- Tarjeta 1 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://e.rpp-noticias.io/xlarge/2024/07/11/292329_1610934.webp" class="card-img-top" alt="Superhéroe 1">
              <div class="card-body">
                <h5 class="card-title">Superman</h5>
              </div>
            </div>
          </div>
          
          <!-- Tarjeta 2 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://www.example.com/superhero2.jpg" class="card-img-top" alt="Superhéroe 2">
              <div class="card-body">
                <h5 class="card-title">Superhéroe 2</h5>
                <p class="card-text">Descripción del superhéroe 2.</p>
              </div>
            </div>
          </div>
          
          <!-- Tarjeta 3 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://www.example.com/superhero3.jpg" class="card-img-top" alt="Superhéroe 3">
              <div class="card-body">
                <h5 class="card-title">Superhéroe 3</h5>
                <p class="card-text">Descripción del superhéroe 3.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Segunda página del carrusel -->
      <div class="carousel-item">
        <div class="row">
          <!-- Tarjeta 4 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://www.example.com/superhero4.jpg" class="card-img-top" alt="Superhéroe 4">
              <div class="card-body">
                <h5 class="card-title">Superhéroe 4</h5>
                <p class="card-text">Descripción del superhéroe 4.</p>
              </div>
            </div>
          </div>
          
          <!-- Tarjeta 5 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://www.example.com/superhero5.jpg" class="card-img-top" alt="Superhéroe 5">
              <div class="card-body">
                <h5 class="card-title">Superhéroe 5</h5>
                <p class="card-text">Descripción del superhéroe 5.</p>
              </div>
            </div>
          </div>
          
          <!-- Tarjeta 6 -->
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://www.example.com/superhero6.jpg" class="card-img-top" alt="Superhéroe 6">
              <div class="card-body">
                <h5 class="card-title">Superhéroe 6</h5>
                <p class="card-text">Descripción del superhéroe 6.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  