<app-search (search)="onSearch($event)"></app-search>

<div class="container-fluid bg-dark text-light py-4 p-5">
    <div class="row g-4">
      <!-- Repite las tarjetas hasta llenar las 12 posiciones -->
      <div class="col-6 col-md-3 " *ngFor="let hero of heroes.slice(0, 12)">
        <div class="card bg-secondary custom-card">
          <img [src]="hero.image" class="card-img-top custom-img">
          <div class="card-body">
            <p class="card-text text-light">{{ hero.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-paginator [disable]="paginatorDisable" (pageChanged)="onPageChanged($event)"></app-paginator>

